<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/common/head') %>
    <link rel="stylesheet" href="/css/customer-styles.css">
  </head>
  <body>
    <%- include('../partials/customer/navbar') %>

    <main>
      <%- body %>
    </main>

    <%- include('../partials/customer/footer') %>
    <%- include('../partials/common/scripts') %>
    <script src="/js/customer-scripts.js"></script>
  </body>
</html>